body{
    margin:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   /* background: fixed #d4bfd7;*/
    
}
/*TYPOGRAPHY*/
h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #1792d2;
    font-weight: 700;
    font-size: 2rem;
    margin:0  ;
}
.subtitle{
    font-weight: 700;
    color:antiquewhite;
    font-size: .75rem;
    margin: 0;

}
/*LAYOUT*/
.container1{
    width:70%;
    max-width:900px;
    /*border: 1px solid magenta;*/
    margin: 0 auto;
}
.container-nav{
    display:flex;
    justify-content: space-between;
}

header{
  
    color: antiquewhite;
    background: rgb(255, 161, 161);
    padding:2em 0;
}
nav ul {
    list-style:none;
    padding:0;
    display:flex;
    justify-content:center;
}
nav li {
    margin-left:2em;
}
nav a {
    text-decoration: none;
    font-weight: 700;
    color: #707070;
    padding: .25em 0;

}
nav a:hover,
nav a:focus{
    color: #1792d2;
}
.current-page{
    border-bottom: 1px solid #707070;
}
.current-page:hover{
    color:#707070
}